extends layout

include _includes/sharedHtmlFunctions

block content
  .row.banner
    .col-12
      h1 Starcups
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            +rating(location.rating)
          p= location.address
          .card.card-primary
            .card-block
              h2.card-title Opening hours
              each time in location.openingTimes
                p.card-text
                  | #{time.days} :
                  if time.closed
                    | &nbsp;closed
                  else
                    | &nbsp;#{time.opening} - #{time.closing}
          .card.card-primary
            .card-block
              h2.card-title Facilities
              each f in location.facilities
                span.badge.badge-warning
                  i.fa.fa-check
                  | &nbsp; #{f}
                | &nbsp;

        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Location map
              img.img-fluid.rounded(src='https://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
      .row
        .col-12
          .card.card-primary.review-card
            .card-block
              a.btn.btn-primary.float-right(href='/location/review/new') Add review
              h2.card-title Customer reviews
              each r in location.reviews
                .row.review
                  .col-12.no-gutters.review-header
                    +rating(r.rating)
                    span.reviewAuthor &nbsp; #{r.author}
                    small.reviewTimestamp &nbsp; #{r.timestamp}
                  .col-12
                    p !{( r.reviewText.replace(/\n/g, '</br>') )}

    .col-12.col-lg-3
      p.lead #{location.name} #{sidebar.context}
      p #{sidebar.callToAction}

